* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}



.nav-link {
  color: #fafafa !important;
  padding-bottom: 0;
}

.nav-link:hover {
  color: #fdbb05 !important;
}

.active-link,
.selected {
  color: #fded05 !important;
}

.top {
  margin-top: 4rem;
}

.edit-link {
  color: #000;
}

.edit-link:hover {
  color: #fdbb05;
}

.meter-row:hover {
  background-color: rgb(231, 231, 231);
}


/* footer */
#footer {
  height: 50px;
  width: 100%;
  
  color: #fafafa;
}

/* Weather API */
.weather-widget {
  background-color: rgb(48, 128, 248);
  border: 1px solid #689ff1;
  border-radius: 10px;
  padding: 8px;
  color: #fafafa;
  height: 200px;
  width: 350px;
}

.city-name {
  font-size: x-large;
}